
      <footer>
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-12">
					<p><a href="http://www.phloxblog.in" title="bootstrap 3 templates">Phloxblog.in © Company 2013</a></p>
				</div>
			</div>
		</div>
      </footer>


    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<!-- Latest compiled and minified JavaScript -->
</body>
</html>
